body {
  margin: 0;
  padding: 0;
}
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.wrapper {
  flex-grow: 1;
}
.navbar, .footer{
  display: flex;
  height: 80px;
  align-items: center;
  position: sticky;
  justify-content: space-between;
  background: linear-gradient(rgb(19, 18, 18), rgb(250, 250, 250), rgb(17, 17, 17));
}
.footer {
  padding: 0 50px;
  box-sizing: border-box;
}
.action-button {
  border: 1px black solid;
  font-size: 16px;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-family: Impact, Charcoal, sans-serif;
  text-shadow: 0 0 5px black;
  border-radius: 3px;
}

.ok {
  background-color: #16421f;
}
.notok {
  background-color: #930000;
}

.navbar-main, .navbar-profile {
  display: flex;
  align-items: center;
}
.navbar-brand {
  text-decoration: none;
  font-size: 30px;
  font-family: 'Stalinist One', cursive;
  font-weight: normal;
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
.navbar-user {
  font-size: 20px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  margin: 20px;

}
.nav-link {
  text-decoration: none;
  font-size: 16px;
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
  margin: 20px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.search input{
  line-height: 20px;
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  font-weight: normal;
  border-radius: 5px;
}

.search-input {
  padding: 2px;
  color: black;
  border: 1px solid gray;
}
.search-button {
  padding: 2px 14px;
  cursor: pointer;
  color: black;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  max-width: 1140px;
  background-color: #fff;
  justify-content: flex-start;
}
.pagination {
  margin: 20px 0;
}
.paginate-button {
  margin-right: 10px;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px 1px black;
  font-family: Impact, Charcoal, sans-serif;
  text-decoration: none;
  color: #2a2a2a;
  background: radial-gradient(white 5%, rgb(192, 185, 185), rgb(152, 152, 152));
}
.selected-page {
  box-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #444444;
}

.content-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid black;
  align-self: center;
  margin: 50px;
  box-shadow: 0 0 45px black;
}
.content-main-body {
  max-width: 768px;
  line-height: 2em;
}

.content-card {
  display: flex;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 25px;
  background-color:  rgba(218, 218, 218,50%);
  box-shadow: 10px 10px 20px #4a4e69;
  margin: 20px 0;
}

.card {
  margin-left: 10px;
}
.card-title {
  text-decoration: none;
  color: #2a2a2a;
}
.card-author {
  font-size: 16px;
  margin: 0;
}

.content-section {
  margin: 20px;
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #4a4e69;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-img {
  height: 65px;
  width: 65px;
  padding: 0;
  margin: 0;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.modal {
  display: none;
  position: fixed;
  top: 150px;
  width: 30%;
  align-self: center;
  border-radius: 25px;
  box-shadow: 0 0 20px #2a2a2a;
  background-color: white;
}
.modal-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-title {
  flex-grow: 1;
  align-self: center;
  text-align: center;
  font-size: 20px;
}
.modal-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}
.form-group {
  margin: 20px auto;
}

legend {
  font-size: 20px;
  font-family: 'Stalinist One', cursive;
  color: white;
  text-shadow: 2px 2px 2px black, -1px -1px 2px black;
  margin: 10px;
}
small {
  color: lightslategrey;
}

.alert {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px 40px;
  margin-top: 20px;
}
.alert-error {
  background-color: #e77171;
  color: #930000;
  border: 1px #930000 solid;
}
.alert-success {
  background-color: #79e771;
  color: #2e6919;
  border: 1px #2e6919 solid;
}
.alert-info {
  background-color: #71bee7;
  color: #193c69;
  border: 1px #193c69 solid;
}
.comment-form {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.comment-content {
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  padding: 10px;
}
.card-comments {
  list-style: none;
  padding: 0;
}
.comments-title {
  font-size: 20px;
}
.comments-small-title {
  font-size: 20px;
}
.card-comment {
  border: #444444 solid 1px;
  margin: 20px auto;
  width: 90%;
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 10px 10px 20px #4a4e69;
  background-color: #fff;
}
#delete-comment-modal {
  display: none;
}
.delete-comment {
    border: none;
    cursor: pointer;
}
