<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask-блог - {{ title }}</title>
    {% else %}
        <title>Flask-блог</title>
    {% endif %}

    {% block head %} {% endblock head %}
  {% block style %} {% endblock style %}
</head>
<body>
    <div class="body">
        <div class="wrapper">
          <div class="navbar">
            <div class="navbar-main">
                <a class="navbar-brand" href="/">Диалоги о рыбалке</a>
            </div>
            <div class="navbar-profile">
                {% if current_user.is_authenticated %}
                    <h4 class="navbar-user">Привет, {{ current_user.username }}!</h4>
                    <a href="{{ url_for('users.account') }}" class="nav-link nav-item navigation-links">
                        Аккаунт
                    </a>
                    <a href="{{ url_for('users.logout') }}" class="nav-link nav-item navigation-links">
                        Выйти
                    </a>
                {% else %}
                    <a href="{{ url_for('users.register') }}" class="nav-link nav-item navigation-links">
                        Зарегистрироваться
                    </a>
                    <a href="{{ url_for('users.login') }}" class="nav-link nav-item navigation-links">
                        Войти
                    </a>
                {% endif %}
            </div>
          </div>
            <ul class="menu">
                <li>
                    <a href="{{ url_for('posts.allpost') }}" class="nav-link nav-item navigation-links">
                        Все посты
                    </a>
                </li>
                <li>
                    <form class="search" action="{{ url_for('posts.allpost') }}" method="get">
                        {{ search.search(class="search-input", placeholder="Введите текст для поиска...") }}
                        {{ search.find(class="search-button") }}
                    </form>
                </li>
                {% if current_user.is_authenticated %}
                <li>
                    <a href="{{ url_for('posts.publish') }}" class="nav-link nav-item navigation-links">
                        Новый пост
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('posts.allpost', favorites=1) }}" class="nav-link nav-item navigation-links">
                        Избранное
                    </a>
                </li>
                {% endif %}
            </ul>
            <div class="content">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            &copy; SMozheiko {{ year }}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% block js %}
{% endblock %}
</body>
</html>
