{% extends "layout.html" %}
{% block content %}
<div class="content-card">
  <div class="card-author">
    <img class="article-img" src="{{ url_for('static', filename='profile_pictures/' + post.author.avatar) }}">
    <a class="navbar-user card-title card-author" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h4 class="navbar-user card-title" style="margin: 0 20px">{{ post.title }}</h4>
      <small>Опубликовано {{ post.created_at.strftime('%A, %d %B %Y %I:%M %p') }}</small>
      <br>
      <br>
      <p class="card-text">{{ post.content }}</p>
    </div>
      <div class="card-footer">
        {% if post.author == current_user %}
          <a class="action-button ok" href="{{url_for('posts.update_post', post_id=post.id) }}">Обновить</a>
          <button type="button" class="action-button notok" data-toggle="modal" data-target="#deleteModal">Удалить</button>
        {% endif %}
      </div>
  </div>
</div>
  
<!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="action-button ok" data-dismiss="modal">Отмена</button>
          <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
            <input class="action-button notok" type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
